absl-py==0.12.0
aio-pika==6.8.2
aiormq==3.3.1
antlr4-python3-runtime==4.8
anyio==3.6.2
appdirs==1.4.4
astunparse==1.6.3
attrs==19.3.0
automat==0.8.0
backcall==0.1.0
bleach==3.1.1
blinker==1.4
cachetools==4.2.2
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.0
cloud-init==22.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
cython==0.29.22
dbus-python==1.2.16
decorator==4.4.2
deeppavlov==1.1.0
defer==1.0.6
defusedxml==0.6.0
distro-info==0.23ubuntu1
distro==1.4.0
docker-pycreds==0.4.0
dynet==0.0.0
entrypoints==0.3
fairseq==1.0.0a0+b8651bc
fastapi==0.77.1
flatbuffers==1.12
gast==0.4.0
gitdb==4.0.10
gitpython==3.1.31
google-auth-oauthlib==0.4.4
google-auth==1.30.1
google-pasta==0.2.0
grpcio==1.34.1
h11==0.14.0
h5py==3.1.0
html5lib==1.0.1
httplib2==0.14.0
hydra-core==1.0.6
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
importlib-resources==5.1.0
incremental==16.10.1
ipykernel==5.2.0
ipython-genutils==0.2.0
ipython==7.13.0
ipywidgets==6.0.0
jedi==0.15.2
jinja2==2.10.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-console==6.0.0
jupyter-core==4.6.3
keras-nightly==2.5.0.dev2021032900
keras-preprocessing==1.1.2
keras==2.4.3
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lmdb==1.4.1
macaroonbakery==1.3.1
markdown==3.3.4
markupsafe==1.1.0
mistune==0.8.4
more-itertools==4.2.0
multidict==6.0.4
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.4
nltk==3.8.1
notebook==6.0.3
numpy==1.24.2
oauthlib==3.1.0
omegaconf==2.0.6
opt-einsum==3.3.0
overrides==4.1.2
pamqp==2.3.0
pandocfilters==1.4.2
parso==0.5.2
pathtools==0.1.2
pbr==5.6.0
pexpect==4.6.0
pickleshare==0.7.5
pip==23.0.1
portalocker==2.2.1
prometheus-client==0.14.1
prompt-toolkit==2.0.10
protobuf==3.17.1
psutil==5.9.4
pyasn1-modules==0.2.1
pyasn1==0.4.2
pybind11==2.2.4
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydantic==1.10.6
pygments==2.3.1
pygobject==3.36.0
pyhamcrest==1.9.0
pyjwt==1.7.1
pymacaroons==0.13.0
pynacl==1.3.0
pyopenssl==19.0.0
pyrfc3339==1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.7.3
python-debian==0.1.36ubuntu1
pytz==2019.3
pyyaml==5.3.1
pyzmq==18.1.1
regex==2020.11.13
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
requests==2.22.0
rsa==4.7.2
sacrebleu==1.5.0
scikit-learn==1.0.2
scipy==1.6.1
screen-resolution-extra==0.0.0
secretstorage==2.3.1
send2trash==1.5.0
sentry-sdk==1.17.0
service-identity==18.1.0
setproctitle==1.3.2
setuptools==45.2.0
simplejson==3.16.0
six==1.15.0
smmap==5.0.0
sniffio==1.3.0
sos==4.3
ssh-import-id==5.10
starlette==0.19.1
systemd-python==234
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.5.0
tensorflow-estimator==2.5.0
tensorflow==2.5.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.4
testresources==2.0.1
torch==1.7.1
tornado==5.1.1
tqdm==4.57.0
traitlets==4.3.3
twisted==18.9.0
typing-extensions==4.5.0
typing-utils==0.1.0
ubuntu-advantage-tools==20.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.15
uvicorn==0.18.3
wadllib==1.3.3
wandb==0.14.0
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==2.0.1
wheel==0.36.2
widgetsnbextension==2.0.0
wrapt==1.12.1
xkit==0.0.0
yarl==1.8.2
zipp==1.0.0
zope.interface==4.7.1